html, body, #app, .crypttoad {
	background-color: #345f4f;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.crypttoad {
	background-color: #345f4f;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.footer {
	flex: 1;
	min-height: 30px;
	max-height: 30px;
}


.main {
	flex: 16;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.leftSide {
	flex: 0 0 100px;

	display: flex;
	flex-flow: column nowrap;
	min-width: 150px;
}

.selectedMarkets {
	flex: 16;

	display: flex;
	flex-flow: column nowrap;
	align-content: space-between;
}

.selectedMarket {
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	min-height: 160px;
}

.selectedMarketName {
	color: white;
	flex: 1;
	padding: 0px 0px 0px 6px;
	font-size: 30px;
	font-family: verdana;
}

.logo {
	flex: 1;
	padding: 0px 0px 0px 2%;
}

.logoWrapper {
	min-height: 92px;
	max-height: 92px;
	width: 100%;

	display: flex;
	justify-content: center;

}
.top {
	flex: 1;

	padding: 0px 100px 0px 0px;
}

.mainPageInfo {
	flex: 14;

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;

}

.currencySelect {
	flex: 2;
	width: 100%;
	padding: 5px 0px 0px 0px;

	min-height: 95px;
	max-height: 95px;
	display: flex;
	justify-content: center;
}

.selectedMarketButton {
	margin: 5%;
}

.autocorrect {
	flex: 1;
}

.markets {
	flex: 16;
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
}

.market {
	flex: 1;

	display: flex;
	flex-flow: row nowrap;
	padding: 1%;
	min-height: 140px;
}

.marketGraph {
	flex: 75%;
	width: 0;
	background-color: #345f4f;
}

.marketStatsContainer {
	flex: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-width: 270px;
}
.marketStats {
	flex: 1;
	padding : 3px;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	min-height: 140px;
}

.marketStatsRow {
	flex: 1;

	display: flex;
	flex-flow: row nowrap;
	color: white;
	font-size: 18px;
	align-items: flex-start;
	justify-content: space-around;
	min-width: 215px;
	min-height: 20px;

	font-family: verdana;
	font-weight: 900;
}

.marketStatsRowLabel {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	min-width: 140px;
	min-height: 22px;
	font-size: 15px;
}

.marketStatsRowValue {
	flex: 1;
	display: flex;
	justify-content: center;
	min-height: 22px;
	align-items: center;
	flex-flow: row nowrap;

	min-width: 75px;
}

.rightSidebar {
	flex: 0 0 100px;
}

.recharts-text {
	font-size: 14px;
	stroke: #e3e3e3;
	stroke-width: 1;
}
.recharts-label {
	font-size: 12px;
}

/*
.theSelect {
	flex:1;
	display: flex;
	justify-content: center;
	padding: 16px 0px 0px 0px;
}
*/

ul {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;v
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

li {
	font-size: 30px;
	height: 40px;
}



.react-autosuggest__input {
	width: 600px;
	height: 45px;
	padding: 5px 10px;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	border: 0;
	padding: 0;
}

.react-autosuggest__input--focused {
	width: 600px;
 	outline: none;
}

.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
	padding: 0;
}

.react-autosuggest__suggestions-container--open {
	border: 1px solid #aaa;
	background-color: #e3e3e3;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 20px;
	max-height: 70px;
	overflow-y: scroll;
	z-index: 2;

	display: flex;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;

	display: flex;
	flex-flow: column nowrap;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 0px 0px 0px 10px;
	flex: 1;
}

.react-autosuggest__suggestion--highlighted {
	background-color: #ddd;
}

.react-autosuggest__container {
	width: 600px;
}





